@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
    --feldgrau: #6F4E37;
    --battleship-gray: #A67B5B;
    --ash-gray: #ECB176;
    --mint-cream: #FED8B1;
    --celadon: #FFF2E5;
    --light-terracotta: #E08150;
    --terracotta: #D1603D;
    --dark-terracotta: #A54230;
    --light-burnt-sienna: #E97451;
    --burnt-sienna: #B34732;
    --light-green: #C5D8A4;
    --medium-green: #A8C080;
}
.bg-light-sage {
    background-color: var(--light-green);
}

.bg-medium-sage {
    background-color: var(--medium-green);
}

.bg-light-terracotta {
    background-color: var(--light-terracotta);
}

.bg-terracotta {
    background-color: var(--terracotta);
}

.bg-dark-terracotta {
    background-color: var(--dark-terracotta);
}

.bg-light-burnt-sienna {
    background-color: var(--light-burnt-sienna);
}

.bg-burnt-sienna {
    background-color: var(--burnt-sienna);
}

.bg-terra-cotta {
    background-color: var(--terracotta);
}

.bg-feldgrau {
    background-color: var(--feldgrau);
}

.text-feldgrau {
    color: var(--feldgrau);
}

.bg-battleship-gray {
    background-color: var(--battleship-gray);
}

.text-battleship-gray {
    color: var(--battleship-gray);
}

.bg-ash-gray {
    background-color: var(--ash-gray);
}

.text-ash-gray {
    color: var(--ash-gray);
}

.bg-mint-cream {
    background-color: var(--mint-cream);
}

.text-mint-cream {
    color: var(--mint-cream);
}

.bg-celadon {
    background-color: var(--celadon);
}

.text-celadon {
    color: var(--celadon);
}
